{% macro render_field(field) %}
  <li>{{ field.label }} {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </li>
{% endmacro %}


{% extends "base.html" %}

{% block title %}LCD Set Message{% endblock %}

{% block page_content %}
<div class="page-header">
    <form method="POST">
      <ul>
        {{render_field(form.line1)}}
        {{render_field(form.line2)}}
        {{render_field(form.line3)}}
        {{render_field(form.line4)}}
      </ul>
      {{ form.submit() }} <a href="/lcd/clear"><button type="button" name="clear">Clear</button></a>
      {{ form.hidden_tag() }}
    </form>

    {% if not local_hardware %}
      <h4>Warning : Running in test mode, no local hardware configured</h4>
    {% endif %}

</div>
{% endblock %}
